$theme-colors: (
  'primary': #201a16,
);

@import '~bootstrap/scss/bootstrap';

@import 'components';

html {
  @include media-breakpoint-down('md') {
    font-size: 93.75%; // 15px
  }

  @include media-breakpoint-down('sm') {
    font-size: 87.5%; // 14px
  }
}

body,
button,
input {
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}
